.main-navbar{
    text-transform: uppercase;
    font-weight: bold;
    background: #21242C;
}

.main-navbar .emblem{
    max-width: 200px;
}

.main-navbar .toggler{
    border: none;
    color: #ffffff !important;
}