section.technology{
    color: #21242C;
    margin-top: 25px;
    margin-bottom: 125px;
    overflow-x: hidden;
}

section.technology .phone-container{
    max-width: 80%;
}

section.technology .discord-icon{
    color: #7289DA;
}

section.technology .nodejs-icon{
    color: #68A063;
}

section.technology .react-icon{
    color: #61DBFB;
}

section.technology .mangoDB-icon{
    color: #3FA037;
}