section.login{
    height: 100vh;
}

section.login .icon{
    color: #00B0F0;
}

section.login .login-row{
    width: 500px;
}

section.login .rounded{
    border-radius: 300px !important;
    height: 40px;
}

section.login .rounded:focus{
    outline: none;
}

section.login .header-text{
    text-transform: uppercase;
}

section.login .error{
    color: #ff0000;
}
